.runpartner-event-subtitle {
	margin: 0;
}

.runpartner-event-subtitle-text {
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 300;
	font-style: italic;
	color: var(--wp--preset--color--accent-4);
	line-height: 1.5;
	letter-spacing: 0.01em;
}
