.runpartner-event-hero-meta {
	margin: 0;
}

.runpartner-event-hero-meta-text {
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--preset--color--accent-4);
	line-height: 1.6;
	letter-spacing: 0.01em;
}
