.wp-block-runpartner-event-hero {
	padding: 16px;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	color: var(--wp--preset--color--contrast);
}
