.runpartner-event-website {
	margin: 0;
}

.runpartner-event-website-button {
	background: transparent;
	color: var(--wp--preset--color--contrast);
	border: 1px solid var(--wp--preset--color--accent-6);
	text-decoration: none;
}

.runpartner-event-website-button:hover {
	border-color: var(--wp--preset--color--lime-green);
	color: var(--wp--preset--color--lime-green);
	background: rgba(112, 224, 0, 0.05);
}
